
    <div>
      <address class="col-leg4 col-md4 col-sm-12 col-xs-12">
        <ol>
          <li>CW Company</li>
          <li>95 chemin de Gabardie</li>
          <li><span>31000</span><span>Toulouse</span></li>
        </ol>
      </address>
    </div>
      <!-- les mentions légales-->
    <div>
      <ul class="col-leg4 col-md4 col-sm-12 col-xs-12">
        <li>
          <a href="#" title="Mentions légales">Mentions légales</a>
        </li>
        <li>
          <a href="#" title="Plan du site">Plan du site</a>
        </li>
        <li>
          &lt; &copy; CW Company - 2018 &gt;
        </li>
      </ul>
    </div>

